In [1]:
#QUESTION 1
#The following is a list of 10 students ages:
#ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#• Sort the list and find the min and max age
#• Add the min age and the max age again to the list
#• Find the median age (one middle item or two middle items divided by two)
#• Find the average age (sum of all items divided by their number)
#• Find the range of the ages (max minus min)

#CREATING A LIST
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)
#Sorting the list using built-In function
ages.sort()
#printing sorted list
print(ages) 
#printing max and min ages
print(max(ages), min(ages))
#Adding min and max ages agin to the List
ages.extend([min(ages),max(ages)])
#printing the List after adding min and max ages
print(ages)

#Finding MEDIAN of the List (Method1)
ages.sort()
middle= int(len(ages)/2) #Middle term
print(middle)

#Checking if middle value is even or odd
if middle % 2==0:
    res= int(ages[middle-1]+ ages[middle])/2
print("The median is:", res)
#average Age
avg= sum(ages)/len(ages)
print("The average of ages is:", avg)
#range of ages
rangeofages = max(ages)-min(ages)
print("Range of ages is :", rangeofages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26 19
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
6
The median is: 24.0
The average of ages is: 22.75
Range of ages is : 7

In [2]:
#QUESTION 2
#Create an empty dictionary called dog
#• Add name, color, breed, legs, age to the dog dictionary
#• Create a student dictionary and add first_name, last_name, gender, age, marital status,
#skills, country, city and address as keys for the dictionary
#• Get the length of the student dictionary
#• Get the value of skills and check the data type, it should be a list
#• Modify the skills values by adding one or two skills
#• Get the dictionary keys as a list
#• Get the dictionary values as a list

#Creating an empty dictionary dog   
dog=dict() 

#Adding given items as keys and empty values to them
dog={"Name":"","Color":"","Breed":"","Legs":"","Age":""} 

 #Creating student dictionary 
student={"first_name":"Gayathri","last_name":"Keshamoni",                        
"gender":"Female","age":"24","maritial_status":"single","skills":["JAVA","python"],
"country":"India","city":"Hyderabad","address":"201,HitechCity"}

#length of the student dictionary
print("Length of the student Dictionary",len(student))         

#Values in skills and type of data
print("student skills",student["skills"], "The type of the Skills",type(student["skills"]))

#Modifying the skill values
student["skills"]=student["skills"]+["C language","SQL"]  

#dictionary keys as a list
gList = list(student.keys())                                                      
gList = list(student.keys())       

#Dictionary values as a list
print(gList)
print("values",list(student.values()))

Length of the student Dictionary 9
student skills ['JAVA', 'python'] The type of the Skills <class 'list'>
['first_name', 'last_name', 'gender', 'age', 'maritial_status', 'skills', 'country', 'city', 'address']
values ['Gayathri', 'Keshamoni', 'Female', '24', 'single', ['JAVA', 'python', 'C language', 'SQL'], 'India', 'Hyderabad', '201,HitechCity']

In [3]:
#Question 3
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
#• Join brothers and sisters tuples and assign it to siblings
#• How many siblings do you have?
#• Modify the siblings tuple and add the name of your father and mother and assign it to family_members

#Brothers tuple
brothers=("B1","B2","B3","B4")  

#Sisters tuple
sisters=("S1","S2")  

#Joining tuples and assigning it to siblings tuple
siblings=brothers+sisters     
print(siblings)  

#Length of tuple
print("I have ",len(siblings), " siblings")

#Modifying the siblings tuple by adding parent names and assigning it to a new tuple familymembers
siblings=siblings+("RadhaKrishna","Sadguna") 

#Assigning modified siblings tuple to familymembers tuple
familymembers=siblings
print(familymembers)

('B1', 'B2', 'B3', 'B4', 'S1', 'S2')
I have  6  siblings
('B1', 'B2', 'B3', 'B4', 'S1', 'S2', 'RadhaKrishna', 'Sadguna')

In [4]:
#Question 4
#it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
#A = {19, 22, 24, 20, 25, 26}
#B = {19, 22, 20, 25, 26, 24, 28, 27}
#age = [22, 19, 24, 25, 26, 24, 25, 24]
#• Find the length of the set it_companies
#• Add 'Twitter' to it_companies
#• Insert multiple IT companies at once to the set it_companies
#• Remove one of the companies from the set it_companies
#• What is the difference between remove and discard
#• Join A and B
#• Find A intersection B
#• Is A subset of B
#• Are A and B disjoint sets
#• Join A with B and B with A
#• What is the symmetric difference between A and B
#• Delete the sets completely
#• Convert the ages to a set and compare the length of the list and the set

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
 
#length of it_companies set
Countcompanies = len(it_companies)
print("Total IT_companies ",Countcompanies)  

#Adding twitter to the set it_companies
it_companies.add("Twitter")
print("Added new Company ",it_companies)
#updating the set with new IT companies
it_companies.update(["ADP","JP Morgan","Infosys"])
print("Added multiple companies ",it_companies)
#Removing a company from the set
it_companies.remove("ADP")
print("After removing one of the values",it_companies)


#Difference between remove and discard ? 
#Answer:The discard() method removes the specified item from the set and whereas the remove() method will 
#raise an error if the specified item does not exist.

#Joining A and B
AB_Joined=A.union(B)
print("A Union B ",AB_Joined)
AB_INtersection=A.intersection(B)
print("A Intersection B ",AB_INtersection)
#• Is A subset of B
print("Is A is subset of B :",A.issubset(B))
#Are A and B disjoint sets
print("is A and B are disjoint sets :",A.isdisjoint(B))
#• What is the symmetric difference between A and B
print("the symmetric difference between A and B :",A.symmetric_difference(B))
#• Delete the sets completely
print("deleting set A and B ", A.clear(), B.clear())

#converting age list to a set
agesSet=set(ages) 

#converting age list to a set
print("converted age list to set ",agesSet)

#comparing lengths of the list and set
print("Comparing the length of the list and the Set by taking the difference between length of age list and length of age set is ",len(ages)-len(agesSet))

Total IT_companies  7
Added new Company  {'Oracle', 'Google', 'Apple', 'Twitter', 'IBM', 'Facebook', 'Microsoft', 'Amazon'}
Added multiple companies  {'JP Morgan', 'Oracle', 'IBM', 'ADP', 'Amazon', 'Google', 'Apple', 'Facebook', 'Microsoft', 'Twitter', 'Infosys'}
After removing one of the values {'JP Morgan', 'Oracle', 'IBM', 'Amazon', 'Google', 'Apple', 'Facebook', 'Microsoft', 'Twitter', 'Infosys'}
A Union B  {19, 20, 22, 24, 25, 26, 27, 28}
A Intersection B  {19, 20, 22, 24, 25, 26}
Is A is subset of B : True
is A and B are disjoint sets : False
the symmetric difference between A and B : {27, 28}
deleting set A and B  None None
converted age list to set  {19, 20, 22, 24, 25, 26}
Comparing the length of the list and the Set by taking the difference between length of age list and length of age set is  6

In [5]:
#Question 5
#The radius of a circle is 30 meters.
#• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
#• Calculate the circumference of a circle and assign the value to a variable name of_circum_of_circle_
#• Take radius as user input and calculate the area.

#Radius to be entered on run time
radius= 30                                             
print("radius of the circle is:", radius)      

#Area of the circle formula: pi*r*r
area_of_circle=3.14*(radius**2)
print("Area of Circle ",area_of_circle)  

#Circumference of circle formula: 2*pi*r 
circum_of_circle=2*3.14*radius                                                          
print("Circumference of circle ",circum_of_circle)

#taking user input for radius

r = float(input("enter radius of your choice:"))
print("The area of circle with radius {r} is:",  {round(3.14 * r * r,2)})

radius of the circle is: 30
Area of Circle  2826.0
Circumference of circle  188.4
enter radius of your choice:2
The area of circle with radius {r} is: {12.56}

In [6]:
#Question 6
#“I am a teacher and I love to inspire and teach people”
#• How many unique words have been used in the sentence? Use the split methods and set
#to get the unique words.

sentence="I am a teacher and I love to inspire and teach people"

uniquewords=set(sentence.split()) 

#Printing number of unique word from the given sentence
print("No.of unique words are ",len(uniquewords))

No.of unique words are  10

In [7]:
#Question 7
#Use a tab escape sequence to get the following lines.
 #    Name Age Country City
 #  Asabeneh 250 Finland Helsinki

#Making use of backwards slash t and n for tab key stroke and next line
print("Name\t\tAge\t\tCountry\t\tCity\nAsabeneh\t25\t\tFinland\t\tHelsinki")

Name		Age		Country		City
Asabeneh	25		Finland		Helsinki

In [8]:
#Question 8
#Use the string formatting method to display the following:
#radius = 10
#area = 3.14 * radius ** 2
#“The area of a circle with radius 10 is 314 meters square.”

radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %s is %s meters square." %(radius,area))

The area of a circle with radius 10 is 314.0 meters square.

In [9]:
#Question 9
#Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
#kilograms in a separate list using Loop. N: No of students (Read input from user)

students_wt=[]                           #weights in Lbs
limit=int(input("Enter number of elements:"))
students_wt_kgs=[]                               #weights in kgs
for i in range(0,limit):                    #Iteration to limit
    students_wt.append(int(input()))
    students_wt_kgs.append(students_wt[i]*0.4535)     #converting lbs to kgs
print(students_wt)
print(students_wt_kgs)

Enter number of elements:2
100
150
[100, 150]
[45.35, 68.025]